body{
	padding: 0;
	margin: 0 ;
	font-family: 'Noto Sans SC', sans-serif;
}
/*內文*/
main{
	margin: 0 auto;
	width: 100%;
	min-height: 600px;
	background-color: #1F2C3A;
	color: white;
	z-index: 1;
	padding: 44px 0px;
}
/*快捷鍵*/
.case_title{
	width: 80%;
	margin: 0 auto;
	padding: 10px 0;
	display: flex;
	flex-wrap: wrap;
}
.case_title .case_name{
	width: 48%;
	white-space: nowrap;
	margin: 0.25%;
	display: flex;
	border-radius: 8px;
	background-color: #33658a;
}
.case_title .case_name a{
	text-decoration: none;
	color: white;
	width: 100%;
	white-space: nowrap;
	margin: 0 auto;
}
.case_title .case_name a p{
	font-size: 15px;
	text-align: center;
}
.case_title .case_name a:hover{
    filter: invert(90%) sepia(20%) saturate(389%) hue-rotate(169deg) brightness(100%) contrast(80%);
    background: #e7ecef;
    border-radius: 8px;
    color: navy;
}
article{
	margin: 44px 0px 44px 0px;/*上右下左*/
	flex-wrap: wrap;
}
/*項目*/
article .cases{
   	margin: 0 auto;
   	width: 80%;
   	display: flex;
   	flex-wrap: wrap;
}
/*項目資訊*/
article .information{
	width: 100%;
}
article .information #frame .lable p{
  	font-size: 23px;
}
article .information #frame .lable a{
  	color: white;
  	text-decoration: none;
  	list-style: none;
}
article .photos{
	margin: 0 auto;
	width: 100%;
	display: flex;
	overflow: hidden;
	flex-wrap: wrap;
	justify-content: space-between;
}
article .photos .img{
	display: flex;
}
article .photos .img img{
	width: 100%;
}
/*項目一、六的圖片排列*/
article .photos .photo1,article .photos .photo6{
	width: 33%;
	display: flex;
	flex-wrap: wrap;
}
/*項目二的圖片排列*/
article .photos .photo2, article .photos .photo5{
	width: 49%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}
/*項目三、四的圖片排列*/
article .photos .img-container{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
}
article .photos .img-name {
	margin: 0 auto;
	display: flex;
	white-space: nowrap;
}
/*RWD*/
@media screen and (max-width:650px) { 
	.case_title{
		margin: 0 auto;
		width: 80%;
	}
	.case_title .case_name{
		width: 100%;
		margin: 0.3%;
	}
  	article .cases{
    	width: 80%;
    }
	article .photo{
		width: 90%;
	}
	article .information{
		width: 100%;
	}
}